nav {
	padding-left: 40px;
	font-family: 'Josefin Sans', sans-serif;
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0;
	left: 0;
	opacity: 0;
	padding-right: 40px;
	padding-top: 14px;
	z-index: 500;
	background: rgba(0, 0, 0, 0.3);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	transition: 0.5s;
}

#logo {
	color: white;
	font-size: 1.3em;
	float: left;
	line-height: 1.2;
	margin-right: 20px;
}

nav > ul {
	list-style-type: none;
	padding-left: 0;
	float: left;
	margin: 0;
}

nav > ul > li {
	margin-left: 10px;
	margin-right: 10px;
	color: #95a5a6;
	transition: .25s;
	display: inline-block;
	cursor: pointer;
}

nav > ul > li:hover {
	color: #ECF0F1;
}

nav > ul > li.active {
	color: #b5d9fb !important;
}

#login_menu {
	color: #1ABC9C;
	transition: .25s;
	float: right;
}

#login_menu:hover {
	color: #1ee2bd;
}

#mobile_nav {
	margin-top: 5px;
}

#mobile_nav > li {
	font-family: "FontAwesome";
	font-size: 1.2em;
}

#mobile_nav > li.active {
	border-bottom: none;
}

#mobile_nav > .nav_room_list:before {
	content: "\f0c9";
}

#mobile_nav > .nav_player:before {
	content: "\f04b";
}

#mobile_nav > .nav_library:before {
	content: "\f001";
}

#mobile_nav > .nav_chat:before {
	content: "\f0e5";
}

#mobile_nav > .nav_info:before {
	content: "\f05a";
}

/* Queue View */
#my_queue {
	float: left;
	margin-right: 30px;
	color: #BDC3C7;
	transition: .25s;
	cursor: pointer;
}

#my_queue:hover {
	color: #ECF0F1;
}

#my_queue > .fa {
	vertical-align: 0;
	margin-right: 3px;
	font-size: 1em;
}

#queue_view {
	overflow-y: scroll;
	position: fixed;
	width: 400px;
	height: 400px;
	top: 55px;
	right: 0;
	z-index: 3000;
	padding: 5px;
	background-color: rgba(0,0,0,0.9);
}

#queue_view > .playlist_item {
	padding: 5px 15px;
	display: inline-block;
	line-height: 1.5;
	list-style: none;
	clear: both;
	margin-top: 6px;
}

#queue_view > .playlist_item:first-child {
	padding: 0 15px 5px 15px;
}