
@media screen and (max-width:1199px) {
	#time_elapsed {
		width: calc(100% - 26%);
	}
}

@media (max-width: 991px) {
    .room-option {
        margin-top: 7px;
        margin-bottom: 5px;
    }
    #time_elapsed {
		width: calc(100% - 36%);
	}
	#main_content {
		width: 100%;
	}
	#sidebar {
		width: 100%;
		right: 0;
	}
	.chat, .chat-textbox, .chatbox-placeholder, #room-title, #room-description-wrapper, #room-description {
		width: 100%;
	}
	.chat {
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    div[role="navigation"] {
        padding-left: 0;
    }

    #login-full {
        display: none;
    }

    #now_playing_placeholder {
        padding-left: 10px;
        font-size: 1em;
    }
	.playlist-item-title {
	    overflow: hidden;
		text-overflow: ellipsis;
		height: 20px;
		width: 100%;
		white-space: nowrap;
	}

    #createRoomFormContent {
        margin-left: 0;
    }
}

@media (max-width: 500px) {
    .site_navigation {
        padding-left: 10px;
        padding-right: 20px;
    }

    .navigation_option {
        margin-left: 5px;
        margin-right: 5px;
    }

    #now-playing-full {
        display: none;
    }
	.playlist-item-queue {
		top: 60px;
		left: 152px;
	}
	.big-header {
		margin-bottom: 0;
		font-size: 1.6em;
	}
	.small-header {font-size: 1.2em;}
}

@media (max-height: 580px) and (min-width: 991px) {
	.chat {height: 40%;}
}

@media (max-height: 480px) and (min-width: 991px) {
	.chat {height: 60%;}
	#room-description-wrapper, #room-users-wrapper {display:none;}
}

@media (max-height: 400px) and (min-width: 991px) {
	.chat {height: 47%;}
}


@media screen and (max-width:440px) {
	.current-dj-caption {
		display: none;
	}
	.score_wrapper {
		margin-right: 0;
		clear: both;
	}
	.score_wrapper > div {
		margin-right: 0;
	}
	.score-negative-wrapper {
		padding-right: 0;
	}
	#volume-slider {
		float: right;
	}
    h1 {
        font-size: 1.4em;
        margin: 0 !important;
        padding: 0 !important;
    }
    h3 {
        margin: 10px 0 10px 0 !important;
        padding: 0 !important;
        font-size: 1.2em !important;
    }
}

