#user_menu {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: 250px;
    background-color: rgba(0,0,0,0.9);
    font-family: "Raleway", sans-serif;
    z-index: 2000;
    user-select: none;
	overflow: hidden;
}

#user_menu > ul {
    list-style-type: none;
    margin: 0 0 15px 15px;
    padding: 0;
}

#user_menu > ul > li {
    color: #BDC3C7;
    transition: .25s;
    cursor: pointer;
}

#user_menu > ul > li:hover {
    color: #ECF0F1;
}

.seperator {
    margin-top: 15px;
}

.header, .header:hover {
    color: #7F8C8D !important;
    font-size: 0.8em;
    text-transform: uppercase;
    margin-top: 15px;
    cursor: default !important;
}

.switch-multiple {
    color: #3498DB;
}

.switch-indicator {
    float: right;
    margin-right: 15px;
}

.switch-enabled {
	color: #27AE60;
	transition: .25s;
}

.switch-enabled:hover {
	color: #2ECC71;
}

.switch-disabled {
	color: #C0392B;
	transition: .25s;
}

.switch-disabled:hover {
	color: #E74C3C;
}

.switch_selector {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 0;
}

.big_selector {
	width: 100%;
	padding-top: 10px;
}

.big_selector > span:first-child {
	margin-left: 15px;
}

.big_selector > span:last-child {
	margin-right: 30px;
}

.big_selector > .switch-multiple {
	text-align: center;
	width: 120px;
	display: inline-block;
}

.switch-active {
	font-weight: 700;
}