#permission_failure, #queue_permission_failure, #requires_authentication, #player, #now_playing_content, #manual, #disconnected, #room_settings_spinner, #room_settings_return, #room_settings_blacklist, #room_settings_whitelist, #room_settings_admin, #room_settings_host, #room_settings_gallery, #room_settings_icon, #room_settings_danger , #room_settings_set_password, #room_settings_moderation, #room_settings_ban, #room_settings_queue_ban, #room_settings_mute, #room_settings_delete_room, #delete_room_errors, #room_settings_transfer_ownership, #share_room_well, #clear_search_history, #create_form, #player, #room_list, #music_list, #create_room_form_content, #room_form_password_well, #playlist_search, #playlist_items, #mobile_nav, #my_queue, .dark-notification, #notification_request_dismiss, #basic_player_tutorial_advance, #sidebar, #no_video, #new_room_welcome, #main_content, #chat-emojilist, #mobile-chat-emojilist, #mobile_chat, #mobile_info, .list_menu, #queue_view, #user_menu, #change_username_spinner, #contact_errors {
	display: none;
}

/* Views */
#player {
	margin-left: 10%;
	margin-right: 10%;
	transition: .25s;
}

#main_content {
	float: left;
	transition: .25s;
	width: calc(100% - 400px);
}

#now_playing_placeholder {
	color: #1bc5a3;
	font-size: 1.3em;
	padding-left: 30px;
}

#no_video, #new_room_welcome {
	font-family: 'Raleway', sans-serif;
	float: left;
	max-width: 600px;
}

#playlist_list > ul > li {
	background: transparent;
	text-align: left;
	border: 0 #808080;
	border-bottom: 1px solid;
}

/* Player */
.title_display {
	font-size: 2em;
	color: #ECF0F1;
	margin-top: 0;
	margin-bottom: 15px;
}

.artist_display {
	font-size: 1.2em;
	font-weight: 300;
	margin-top: 10px;
	margin-bottom: 20px;
	color: #BDC3C7;
}

#time_elapsed {
	background-color: #34495E;
	border-radius: 13px;
	padding: 3px;
	display: inline-block;
	margin-top: 5px;
	margin-right: 3px;
}

#time_elapsed > div {
	background-color: #3498DB;
	width: 0;
	height: 10px;
	border-radius: 10px;
}

#time_remaining {
	display: inline-block;
	color: #BDC3C7;
	padding-left: 5px;
	vertical-align: 5%;
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
}

#youtube_player {
	margin-top: 10px;
}

.song-title-container {
	line-height: 1.2;
}

.embed-responsive {
	width: 100%;
}

/* Toggles */
#toggle_block {
	margin-top: 15px;
	padding-right: 15px;
}

.toggle {
	display: inline-block;
}

#video-toggle {
	color: #9B59B6;
}

#volume-toggle {
	color: #3498DB;
	margin-right: 8px;
}

#volume-slider {
	width: 100px;
	display: inline-block;
	vertical-align: 10%;
}

#player_actions > .toggle {
	margin-left: 12px;
}

#score_wrapper > div {
	display: inline-block;
	margin-right: 0;
	margin-left: 20px;
	font-family: "Lato", sans-serif;
	float: right;
}

#score-positive-wrapper {
	color: #27AE60;
	transition: .25s;
}

#score-positive-wrapper:hover {
	color: #33d570;
}

#score-negative-wrapper {
	color: #C0392B;
	transition: .25s;
}

#score-negative-wrapper:hover {
	color: #eb4131;
}

#score-positive-wrapper.activated {
	color: #2ECC71;
}

#score-negative-wrapper.activated {
	color: #E74C3C;
}

#vote_actions {
	width: 200px;
}

.score {
	display: inline-block;
}

/* Sidebar */
#top_info_panel {
	top: 65px;
	color: white;
}

#room_info {
	text-align: right;
}

#room_info > .room-title {
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	font-weight: 500;
	display: block;
	margin-bottom: 10px;
	width: 300px;
}

#room_description_wrapper > .room-description {
	display: block;
	margin-bottom: 5px;
	color: #BDC3C7;
	font-size: 0.8em;
	font-weight: 300;
	width: 300px;
}

.focused {
	font-size: 1.2em;
	color: #7daf9c;
	cursor: pointer;
}

.room-users {
	color: #1ac3a5;
	transition: .25s;
}

.room-users:hover {
	color: #1cf5d5;
}

.room-queue {
	color: #5885c3;
	transition: .25s;
}

.room-queue:hover {
	color: #69abf5;
}

#room_users_wrapper {
	right: -15px;
	position: absolute;
}

#room_users_wrapper .focused {
	margin-left: 15px;
}

.current-dj-wrapper {
	color: #808080;
	font-size: 0.8em;
	display: inline;
	line-height: 1.6;
	float: right;
}

.current-dj-wrapper > .fa {
	color: #BDC3C7;
	margin-left: 5px;
	vertical-align: -5%;
}

.current-dj {
	color: white;
	font-size: 1.2em;
	margin-left: 5px;
}

.room_settings_launcher {
	color: #95A5A6;
	margin-left: 10px;
	font-size: 1em;
	vertical-align: 0;
	transition: .25s;
}

.room_settings_launcher:hover {
	color: white;
}

#sidebar {
	float: right;
	width: 300px;
}

/* Sidebar Queue List */
.sidebar_queue_list_item {
	line-height: 1.5;
	margin-bottom: 15px;
}

.sidebar_queue_list_item > span > .fa {
	font-size: 1em;
	vertical-align: -2%;
}

.sidebar_queue_list_item > a > .fa {
	font-size: 1em;
	vertical-align: -2%;
}

.sidebar_queue_list_item > img {
	width: 80px;
	float: right;
	margin-left: 10px;
	margin-top: 3px;
}

.sidebar_queue_list_item > .sidebar_queue_list_item_title {
	margin-bottom: 10px;
}

.sidebar_queue_list_item > .sidebar_queue_list_item_artist {
	color: #BDC3C7;
	font-size: 0.8em;
	display: block;
}

.sidebar_queue_list_item_preview {
	color: #2980B9;
	transition: .25s;
	cursor: pointer;
	margin-right: 10px;
}

.sidebar_queue_list_item_preview:hover {
	color: #3498DB;
}

.sidebar_queue_list_item_preview > .fa {
	font-size: 0.7em;
}

.sidebar_queue_list_item_share {
	color: #16A085;
	transition: .25s;
	cursor: pointer;
}

.sidebar_queue_list_item_share:hover {
	color: #1ABC9C;
}

.sidebar_queue_list_item_share:focus {
	color: #1ABC9C;
	text-decoration: none;
}

/* Chat */
.chat {
	background-color: rgba(34, 47, 63, 0.60);
	color: white;
	width: 300px;
	height: 50%;
	margin-top: 60px;
}

.chat_textbox {
	width: 298px;
	text-align: center;
}

.chat_emojisel {
	position: relative;
	display: table-cell !important;
	width: 20px;
	height: 25px;
	left: 5px;
	cursor: pointer;
	background: url('https://cdn.rawgit.com/Ranks/emojify.js/master/src/images/emoji/smiley.png') no-repeat 0;
	background-size: contain;
}

#chat-emojilist, #mobile-chat-emojilist {
	font-family: "Raleway", sans-serif;
	position: absolute;
	background: rgba(22, 160, 133, 0.9);
	overflow-y: scroll;
	width: 100%;
	height: 432px;
	bottom: 40px;
	right: 0;
}

#chat-emojilist ul, #mobile-chat-emojilist ul {
    padding: 0 5px;
    margin: 0;
    display: inline-block;
	width: 100%;
}

#chat-emojilist ul h2 , #mobile-chat-emojilist ul h2{
	margin: 5px 0 5px 5px;
	padding: 0;
	font-size: 1.3em;
	text-align: left;
	cursor: pointer;
}

#chat-emojilist ul > li {
	height: 20px;
    float: left;
    list-style: none;
    padding: 2px;
}

#user_mention {
	position: absolute;
	bottom: 40px;
	left: 15px;
}

#user_mention ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#user_mention ul li {
	font-size: 0.8em;
}

#chat-emojilist ul > li , #chat-emojilist ul > li  .emoji, #mobile-chat-emojilist ul > li , #mobile-chat-emojilist ul > li  .emoji {
	cursor: pointer;
}

.chat_message {
	font-family: "Lato", sans-serif;
	border: 0;
	background-color: transparent;
	color: #ffffff;
	float: left;
}

.emoji {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('http://static.totem.fm/emoji/sheet_apple_16.png');
	margin-bottom: -3px;
}

.chat_send {
	background-color: transparent !important;
	border: none !important;
	float: right;
	right: 10px;
}

.chat-text {
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 5px;
	height: calc(100% - 45px);
	overflow-y: scroll;
	font-size: 0.8em;
	overflow-x: hidden;
}

.chat-message-sender {
	color: #5792cf;
	margin-right: 2px;
	cursor: pointer;
	transition: .25s;
}

.chat_textbox {
	padding-left: 5px;
	padding-right: 5px;
}

.chat-message-wrapper {
	display: block;
}

.chatbox-placeholder {
	text-align: center;
	color: #f5f5f5;
	padding-bottom: 5px;
	width: 290px;
}

.big-header {
	color: white;
	display: block;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 2em;
}

.small-header {
	color: #BDC3C7;
	font-size: 1.5em;
	max-width: 500px;
}

.chat-tag {
	background-color: rgba(52, 152, 219, 0.3);
}

.profile_tag {
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: "Raleway", sans-serif;
	margin-left: 5px;
	-webkit-user-select: none;
}

#chat_footer {
	text-align: center;
	margin-top: 10px;
	color: rgba(255, 255, 255, 0.5);
}

.version_inner {
	color: #ECF0F1;
}

#chat_footer > span {
	color: #BDC3C7;
}

#chat_footer > a {
	color: #3498DB;
	transition: .25s;
}

#chat_footer > a:hover {
	color: #60c1ff;
}

/* Room Welcome */
.room_welcome_description {
	display: block;
	margin-top: 15px;
}

.social_share_links > i {
	margin-right: 15px;
	transition: .25s;
}

.social_share_links > i:hover {
	cursor: pointer;
	font-size: 1.8em;
	vertical-align: 4%;
}

.social_share_links > .fa-twitter:hover {
	color: #3498DB;
}

.social_share_links > .fa-facebook:hover {
	color: #9B59B6;
}

.social_share_links > .fa-link:hover {
	color: #1ABC9C;
}

#share_room_text {
	color: white;
	font-size: 1.4em;
	display: block;
	margin-bottom: 3px;
}

#share_room_well > span {
	font-size: 0.8em;
	color: #BDC3C7;
	font-style: italic;
}

#share_room_text {
	-webkit-user-select: initial;
}

/* User List */
.list_menu {
	color: white;
	width: 300px;
	position: absolute;
	height: 600px;
	top: 188px;
}

.list_menu:before {
	content: "";
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	position: absolute;
	top: -15px;
}

.list-row {
	padding: 5px 15px 5px 15px;
	margin: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	list-style: none;
}

.list-title {
	float: left;
	width: 100%;
	color: #F1C40F;
	font-size: 1.2em;
}

li.list-item {
	list-style-type: none;
	padding-left: 10px;
}

li.list-item-small {
	font-size: 0.8em;
}

#user_list {
	background-color: rgba(26, 205, 175, 0.4);
}

#user_list:before {
	border-bottom: 15px solid rgba(26, 205, 175, 0.4);
	right: 145px;
}

#queue_list {
	background-color: rgba(88, 133, 195, 0.40);
}

#queue_list:before {
	border-bottom: 15px solid rgba(88, 133, 195, 0.40);
	right: 30px;
}

/* Youtube Rate Button */
#youtube_rate {
	color: #3498DB;
	float: right;
	display: inline;
	transition: .25s;
	cursor: pointer;
}

#youtube_rate > .fa {
	font-size: 1em;
	vertical-align: 3%;
	margin-right: 2px;
}

#youtube_rate:hover {
	color: #34bcff;
}

/* Profiles */
#profile_overlay {
	width: 280px;
	height: auto;
	background: #2C3E50;
	padding: 5px;
	z-index: 3000;
	color: white;
	padding-bottom: 9px;
}

#profile_overlay_close {
	float: right;
	color: #E74C3C;
	transition: .25s;
}

#profile_overlay_close > .fa {
	line-height: 0.8;
	cursor: pointer;
}

#profile_overlay_close:hover {
	color: #C0392B;
}

#profile_overlay_bio {
	color: #BDC3C7;
	margin-bottom: 3px;
}

#profile_overlay_name {
	font-size: 1.2em;
	line-height: 1.2;
}

#profile_overlay_links > a {
	margin-right: 5px;
}

#profile_overlay > img {
	margin-right: 7px;
	width: 64px;
	height: 64px;
	float: left;
	margin-top: 5px;
	margin-left: 2px;
}

#profile_header {
	margin-bottom: 5px;
	border-bottom: 1px solid #95A5A6;
	padding-bottom: 3px;
}

#profile_right, #profile_header {
	display: block;
}

#profile_overlay_twitter:hover {
	color: #3498DB;
}

#profile_overlay_steam:hover {
	color: #95A5A6;
}

#profile_overlay_website:hover {
	color: #ECF0F1;
}