
@media screen and (max-width:1199px) {
	#time_elapsed {
		width: calc(100% - 26%);
	}
}

@media (max-width: 991px) {
    .room-option {
        margin-top: 7px;
        margin-bottom: 5px;
    }
    #time_elapsed {
		width: calc(100% - 36%);
	}
	#main_content {
		width: 100%;
	}
	#sidebar {
		width: 100%;
		right: 0;
	}
	.chat, .chat-textbox, #room-title, #room-description-wrapper, #room-description {
		width: 100%;
	}
	.chat {
		margin-bottom: 40px;
	}
}

@media (max-width: 768px) {
    .logo {
        display: none;
    }

    div[role="navigation"] {
        padding-left: 0;
    }

    #login-full {
        display: none;
    }

    #now_playing_placeholder {
        padding-left: 10px;
        font-size: 1em;
    }
	.playlist-item-title {
	    overflow: hidden;
		text-overflow: ellipsis;
		height: 20px;
		width: 100%;
		white-space: nowrap;
	}
}

@media (max-width: 500px) {
    .site_navigation {
        padding-left: 10px;
        padding-right: 20px;
    }

    .navigation_option {
        margin-left: 5px;
        margin-right: 5px;
    }

    #now-playing-full {
        display: none;
    }
	.playlist-item-queue {
		top: 60px;
		left: 152px;
	}
	.big-header {
		margin-bottom: 0;
		font-size: 1.6em;
	}
	.small-header {font-size: 1.2em;}
}

@media screen and (max-width:440px) {
	.current-dj-caption {
		display: none;
	}
	.score_wrapper {
		margin-right: 0;
		clear: both;
	}
	.score_wrapper > div {
		margin-right: 0;
	}
	.score-negative-wrapper {
		padding-right: 0;
	}
	#volume-slider {
		float: right;
	}
}

