/* Common */
#commands_modal, #room_description_modal, #room_settings_modal, #change_username_modal {
	color: black;
}

#commands_modal > .modal-dialog > .modal-content > .modal-footer, #room_description_modal > .modal-dialog > .modal-content > .modal-footer {
	text-align: center;
	color: #95A5A6;
	font-style: italic;
}

.modal-body > input {
	margin-top: 10px;
}

/* Change Username */
#change_username_spinner {
	opacity: 0;
	transition: .25s;
}

#change_username_spinner > .fa {
	color: black;
	right: 90px;
	bottom: 30px;
	position: absolute;
}

/* Commands Modal */
#commands_modal > .modal-dialog > .modal-content > .modal-body {
	padding-top: 5px;
}

#commands_modal > .modal-dialog > .modal-content > .modal-body > b {
	line-height: 2.4;
}

.command_stem {
	color: #C0392B;
}

.command_arguments {
	color: #2C3E50;
}

.command {
	display: block;
}

/* Room Description */
#room_description_extend_content {
	padding: 0 15px 0 15px;
}

#room_description_extend_content > h1, h2, h3, h4, h5, h6 {
	color: black;
	margin: 0;
	padding: 0;
}

/* Room Settings */
#markdown_info {
	font-style: normal;
	color: black;
}

#markdown_info > a {
	color: #2980B9;
	transition: .25s;
}

#markdown_info > a:hover {
	color: #3498DB;
}

#set_password_errors {
	margin-top: 10px;
}

#set_room_password_btn {
	margin-top: 15px;
}

#delete_room_btn {
	margin-top: 15px;
}

#delete_room_errors, #transfer_ownership_errors {
	margin-top: 15px;
	margin-bottom: 15px;
}

#remove_room_password_btn {
	margin-top: 15px;
}

#transfer_ownership_textbox {
	width: 300px;
}

#icon_preview {
	width: 150px;
	display: inline-block;
	float: left;
}

#icon_preview > img {
	width: 128px;
	height: 128px;
}

#icon_upload_wrapper {
	display: inline-block;
	width: calc(100% - 150px);
	float: left;
}

#icon_upload_wrapper > .room_settings_instructions {
	margin-bottom: 15px;
}

.background-image-preview {
	width: 160px;
	display: block;
}

.background-preview-container {
	display: inline-block;
	width: 189px;
	height: 130px;
}

#files {
	padding-bottom: 100px;
}

.cancel_demotion {
	color: #2980B9;
}

.cancel_demotion:hover {
	color: #3498DB;
}

.do_demotion {
	color: #C0392B;
}

.do_demotion:hover {
	color: #E74C3C;
}

.form-group > .fa {
	font-size: 1em;
	vertical-align: baseline;
	color: #2C3E50;
}

.modal-action > label {
	position: absolute;
	line-height: 0.9;
	left: 43px;
	cursor: pointer;
}

.modal-action {
	cursor: pointer;
}

.room_settings_list > .form-group > span {
	font-style: italic;
	color: #7F8C8D;
	display: block;
	margin-top: 5px;
	font-size: 0.8em;
}

#room_settings_danger > div > label {
	left: 38px;
}

#room_settings_return {
	color: #2980B9;
}

#room_settings_return > i {
	vertical-align: -8%;
	margin-right: 9px;
}

#room_settings_return:hover {
	color: #3498DB;
}

.room_settings_instructions {
	display: block;
	color: #2C3E50;
}

.modal-body > div > textarea {
	margin-top: 15px;
}

.dynamic_user_list {
	width: 400px;
}

.dynamic_user_list > ul {
	margin: 0;
	padding: 0;
}

.dynamic_user_list > ul > li {
	list-style-type: none;
	border-bottom: 1px solid #95A5A6;
	color: #000000;
}

.hover_x:hover:after {
	content: "x";
	font-family: sans-serif;
	line-height: 1;
	color: #C0392B;
	font-size: 1.4em;
	float: right;
	cursor: pointer;
	right: 0;
	margin-right: 5px;
	transition: .25s;
}

.hover_x:hover:after:hover {
	color: #E74C3C;
}

.dynamic_user_list_footer {
	border: 0;
	padding-left: 0;
	box-shadow: none;
	padding-top: 3px;
	width: calc(100% - 80px);
	float: left;
}

.user_suggestion_wrapper > ul {
	padding: 0;
	margin: 0;
}

.user_suggestion_wrapper > ul > li {
	list-style-type: none;
	cursor: pointer;
}

.user_add {
	float: right;
	margin-top: 3px;
}

.dynamic_user_list > span {
	padding-left: 15px;
	color: #C0392B;
	display: none;
	margin-top: 15px;
	margin-bottom: 15px;
}

#profile_modal_content {
	color: black;
}

#profile_modal_content > img {
	width: 128px;
	height: 128px;
	display: inline-block;
	margin-right: 15px;
	float: left;
}

#profile_modal_content > .form-group > label {
	display: block;
}

#profile_modal_content > #after_group > label {
	display: block;
	margin-top: 15px;
}

#profile_modal_content > .username {
	font-family: "Raleway", sans-serif;
}

#profile_modal_content > .form-group > textarea {
	display: inline-block;
	width: 400px;
	margin-top: 0;
}

#profile_modal_content > #after_group > input, #profile_modal_content > #after_group > .input-group {
	width: 400px;
}

#after_group {
	margin-left: 145px;
}