#queue_view {
	overflow-y: scroll;
	position: fixed;
	width: 400px;
	height: 400px;
	top: 55px;
	right: 0;
	z-index: 3000;
	padding: 5px;
	background-color: rgba(0,0,0,0.9);
}

#queue_view > .playlist  > .playlist-item-metadata-container {
	margin-top: 6px;
}

#queue_view > .playlist {
	padding: 5px 15px;
	display: inline-block;
	line-height: 1.5;
	list-style: none;
	clear: both;
}

#queue_view > .playlist:first-child {
	padding: 0px 15px 5px 15px;
}