@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500);

html, body {
    background: #000;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.72222;
    color: #34495e;
    margin: 0;
}

h1 {
    color: #ECF0F1;
}

h3 {
    color: #BDC3C7;
}

#now_playing {
    min-height: 100%;
    padding-top: 90px;
    z-index: 100;
}

.score_wrapper > div {
    display: inline-block;
    margin-right: 20px;
    font-family: "Lato", sans-serif;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.score_wrapper_top {
    margin-bottom: 10px;
}

.score_wrapper_bottom {
    float: right;
}

#toggles {
    margin-top: 5px;
    /*padding-left: 10px;*/
}

.score_wrapper_bottom > div {
    margin-right: 0 !important;
    margin-left: 20px;
}

#video_options > #toggles > div {
    display: inline-block;
    margin-right: 10px;
}

#video_options {
    margin-top: 15px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.score-positive-wrapper {
    cursor: pointer;
    color: #27AE60;
}

.score-negative-wrapper {
    cursor: pointer;
    color: #C0392B;
}

.score-positive-wrapper.activated {
    color: #2ECC71;
}

.score-negative-wrapper.activated {
    color: #E74C3C;
}

.score-grabs-wrapper {
    color: #9B59B6;
    font-size: 0.8em;
}

.score {
    display: inline-block;
}

.fa {
    font-size: 1.4em;
    margin-right: 3px;
}

#fullscreen-toggle {
    color: #E67E22;
}

#video-toggle {
    color: #9B59B6;
}

#volume-toggle {
    color: #3498DB;
}

#toggle_video {
    color: #95A5A6;
    font-size: 0.75em;
    margin-bottom: 20px;
}

#toggle_video > span {
    vertical-align: 5%;
    font-size: 1.5em;
}

#no_video {
    /*position: absolute;*/
    float: left;
}

.top {
    z-index: 10;
}

.bottom {
    z-index: 0;
}

#volume-slider {
    width: 100px;
    display: inline-block;
    vertical-align: 10%;
}

#time_elapsed {
    background-color: #34495E;
    border-radius: 13px; /* (height of inner div) / 2 + padding */
    padding: 3px;
    width: calc(100% - 56px);
    max-width: 500px;
    display: inline-block;
}

#time_elapsed > div {
    background-color: #3498DB;
    width: 0; /* Adjust with JavaScript */
    height: 10px;
    border-radius: 10px;
}

#time-remaining {
    display: inline-block;
    color: #BDC3C7;
    padding-left: 5px;
    vertical-align: 5%;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
}

.emblem {
    margin-right: 50px;
    display: inline-block;
    color: #c0c0c0;
}

.emblem > i {
    font-size: 1.5em;
}

#main_content {
    float: left;
    transition: .25s;
}

.video-option {
    background-color: rgba(73, 88, 105, 0.80);
    height: 80px;
}

.video-option > .video-image {
    float: left;
}

.video-option > .video-image > img {
    height: 73px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 3px;
    margin-right: 7px;
}

.video-option > .video-title {
    font-size: 0.9em;
    color: #ECF0F1;
    display: block;
    line-height: 1.2;
    padding-top: 10px;
}

.video-option > .video-subtitle {
    font-size: 0.6em;
    color: #BDC3C7;
    display: block;
}

.emblem-active {
    color: #f5f5f5;
}

.history-content > li {
    background: transparent;
    text-align: left;
    border: 0;
    border-bottom: 1px solid;
    border-color: #808080;
    color: #f5f5f5;
}

.sidebar-playlist > li {
    background: transparent;
    text-align: left;
    border: 0;
    border-bottom: 1px solid;
    border-color: #808080;
}

.sidebar-playlist-list {
    color: #f5f5f5;
}

.sidebar-playlist-items {
    color: #f5f5f5;
}

.sidebar-playlist-items > ul > li:last-child {
    border: 0;
}

.playlist-list-return {
    margin-left: 10px;
    color: darkgray;
}

.playlist-item-thumbnail {
    width: 120px;
    margin-left: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.playlist-item-metadata-container {
    display: block;
    left: 145px;
    top: 10px;
    position: absolute;
    line-height: 1.3;
}

.queue-item-metadata-container {
    display: block;
    left: 10px;
    top: 10px;
    position: absolute;
    line-height: 1.3;
}

.playlist-item-title {
    float: left;
    display: block;
}

.playlist-item-artist-container {
    font-size: 0.8em;
    color: #b9b9b9;
    display: block;
    line-height: 2.0;
}

.playlist-item-artist {

}

.chat {
    background-color: rgba(34, 47, 63, 0.60);
    color: white;
    width: 300px;
    height: calc(100% - 320px);
    max-height: 800px;
    top: 250px;
    min-height: 300px;
}

.chat-textbox {
    width: 298px;
}

.chat_message {
    border: 0;
    background-color: transparent;
    color: #ffffff;
}

.chat_send {
    background-color: transparent !important;
    border: none !important;
}

.chat-text {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 5px;
    height: calc(100% - 45px);
    overflow-y: scroll;
    font-size: 0.8em;
    overflow-x: hidden;
}

.chat-message-sender {
    color: grey;
    margin-right: 2px;
}

.chat-textbox {
    padding-left: 5px;
    padding-right: 5px;
}

.chat-textbox > input {
    float: left;
    left: 10px;
}

.chat-textbox > button {
    float: right;
    right: 10px;
}

.chat-message-wrapper {
    display: block;
}

#search-textbox {
    padding-left: 5px;
    padding-right: 5px;
}

.chatbox-placeholder {
    text-align: center;
    color: #f5f5f5;
    padding-bottom: 5px;
    width: 290px;
}

.artist_display {
    font-weight: 300;
}

.player-container {
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 30px;
    transition: .25s;
}

#room-info {
    top: 65px;
    color: white;
}

#room-title {
    font-size: 1.5em;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
    width: 300px;
}

#room-description {
    display: block;
    margin-bottom: 5px;
    color: #808080;
    font-size: 0.8em;
    font-weight: 300;
}

#playlist-title {
    font-size: 1.5em;
}

#new-messages-indicator {
    position: absolute;
    height: 30px;
    bottom: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-color: #00619a;
}

#in-room {
    text-align: right;
    margin-bottom: 20px;
}

.subcaption {
    font-size: 0.8em;
}

.subcaption-users {
    color: #148f77;
    margin-right: 20px;
}

.subcaption-queue {
    color: #3f638f;
}

.focused {
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
    color: #7daf9c;
    cursor: pointer;
}

#room-users {
    color: #1acdaf;
}

#room-queue {
    color: #5792cf;
}

#add-to-queue {
    display: block;
    margin-bottom: 5px;
}

#add-to-queue > a {
    color: #2980B9;
}

#add-to-queue > a:hover {
    color: #3498DB;
}

.manual-option > a > i {
    font-size: 0.9em;
}

#room-description {
    width: 300px;
}

.big-header {
    color: white;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2em;
}

.small-header {
    color: #BDC3C7;
    font-size: 1.5em;
    max-width: 500px;
    padding-right: 30px;
}

#queue-container {
    color: grey;
    width: 300px;
}

.change-username-spinner {
    position: absolute;
    vertical-align: bottom;
    margin-left: -90px;
    bottom: 36px;
}

.add-song-to-queue {
    float: left;
    font-size: 0.8em;
    color: #0072b5;
}

.current-dj-wrapper {
    color: #808080;
    font-size: 0.8em;
}

#mobile_navigation_emblems > div {
    display: inline-block;
    margin-left: 20px;
}

#mobile_navigation_emblems > div > i {
    color: #BDC3C7;
}

.nav-active > i {
    color: white !important;
}

.current-dj {
    color: white;
    font-size: 1.2em;
    margin-left: 5px;
}

.dj_display_bottom {
    float: right;
    font-size: 0.8em;
    margin-left: 20px;
    padding-top: 2px;
    margin-right: 3px;
}

#sidebar {
    float: right;
    width: 300px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(25, 48, 65, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(25, 38, 55, 0.4);
}

#queue-container > ul > li {
    background: transparent;
    text-align: left;
    border: 0;
    border-bottom: 1px solid;
    border-color: #808080;
    height: 65px;
}

.queue-item-metadata-container > .playlist-item-title {
    color: white;
}

h3 {
    font-size: 30px;
}

h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .25s;
}

@media (max-width: 1700px) {
    .player-container {
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 1250px) {
    .player-container {
        margin-left: 20px;
        margin-right: 20px;
    }

    #sidebar {
        right: 30px;
    }
}

.chat-tag {
    background-color: rgba(52, 152, 219, 0.3);
}

.chat-dev {
    color: #2ECC71 !important;
}

.chat-you {
    color: #F1C40F;
}

.chat-beta {
    color: #1ABC9C !important;
}

.disconnected-triangle {
    color: #f5f5f5;
    position: absolute;
    top: 200px;
    left: 300px;
    font-size: 4em;
}

.disconnected-header {
    color: #f5f5f5;
    position: absolute;
    top: 190px;
    left: 400px;
    font-size: 1.5em;
    font-weight: 700;
}

.disconnected-body {
    color: #f5f5f5;
    font-size: 0.7em;
    font-weight: 500;
}

#disconnected {
    z-index: 10000;
}

.playlist-item-preview {
    color: #2980B9;
    position: absolute;
    top: 35px;
    padding-left: 5px;
}

.playlist-item-queue {
    color: #16A085;
    position: absolute;
    top: 35px;
    left: 250px;
}

.playlist-item-preview > .fa {
    font-size: 0.7em;
}

.playlist-item-queue > .fa {
    font-size: 0.7em;
}

#search_text {
    background-color: transparent;
    color: #fff;
    font-size: 1.4em;
    border: 0;
    margin-top: 10px;
}

#search_send {
    height: 42px;
    line-height: 40px;
    color: #bdc3c7;
    background-color: transparent;
    border: none;
}

#skip_song {
    color: #da7bff;
}

#skip_song > .fa {
    font-size: 0.8em;
}

#landing_page {
    z-index: 20000;
    color: white;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

#landing_title {
    font-size: 2em;
    color: #ECF0F1;
    display: block;
    margin-bottom: 30px;
}

#landing_footer {
    max-width: 400px;
}

#landing_screenshot {
    float: right;
    width: 40%;
    margin: 30px;
}

#email_group {
    margin-top: 20px;
    max-width: 300px;
    width: 100%;
}

#beta_footer {
    margin-top: 20px;
}

#beta_footer > i {
    font-size: 0.8em;
    vertical-align: 10%;
    margin-left: 3px;
}

#beta_launch {
    margin-top: 10px;
}

#beta_launch_header {
    color: #BDC3C7;
    transition: .25s;
}

#beta_launch_header:hover {
    color: #ECF0F1;
}

.action_btn {
    background-color: #3498DB !important;
}

.action_btn:hover {
    background-color: #2980B9 !important;
}

#beta_launch_content {
    max-width: 200px;
}

#auth_failed {
    line-height: 3;
    color: #E74C3C;
}

@media (max-width: 768px) {
    #landing_screenshot {
        width: 300px;
    }
}

@media (max-width: 500px) {
    #landing_page {
        padding: 10px;
    }

    #landing_screenshot {
        width: 95%;
        position: absolute;
        top: 80px;
        margin: 0;
    }

    #landing_footer {
        position: absolute;
        top: 400px;
        max-width: 100%;
    }
}

/* User List */
#roomlist {
    display: none;
    background-color: rgba(26, 205, 175, 0.4);
    color: white;
    width: 300px;
    position: absolute;
    right: 0;
    height: 60%;
    max-height: 800px;
    /*top: 249px;*/
    min-height: 300px;
}

#roomlist:before {
    content: "";
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid rgba(26, 205, 175, 0.4);
    position: absolute;
    top: -15px;
    right: 120px;
}

#roomlist-row {
    padding: 10px 15px;
    height: 100%;
    overflow-y: scroll;
    font-size: 0.8em;
    overflow-x: hidden;
    list-style: none;
}

#roomlist-row .roomlist-title span {
    font-size: 1.8em;
}

.roomlist-prename {
    color: #808080;
    margin-right: 2px;
}

.fullscreen > .song-title-container {
    /*padding-left: 10px;*/
}

.fullscreen > .song-title-container > h1 {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.fullscreen > .song-title-container > h3 {
    font-size: 20px;
    margin-bottom: 15px;
}

.fullscreen > #time_elapsed {
    /*margin-left: 10px;*/
}

.fullscreen.player-container {
    margin-left: 10px;
    padding-top: 70px !important;
    margin-right: 0 !important;
}

#player {
    margin-top: 5px;
}

#room-users-wrapper .focused {
    margin-left: 20px;
}

@media (max-width: 460px) {
    .current-dj {
        display: none;
    }

    .score-negative-wrapper {
        padding-right: 15px;
    }
}